node_modules
.DS_Store
.env
.env.local
/apps/api/.env
/apps/web/.env.local
/packages/**/node_modules
/apps/**/dist
/apps/**/.next
/apps/**/out
/apps/**/.turbo
/apps/**/.vercel
/infra/**/.terraform
/infra/**/tfstate*